/* apply border sizing to all elements and remove default padding/margin
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* body backrgound style*/
body {
    background-color: darkslategrey;
    
}

/*grid styling*/
.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(6, 100px);
    min-height: 100px;
    
}
/*button styling*/
.calculator-grid button {
    color: black;
    background-color: blanchedalmond;
    font-size: 32px;
    border: 1px solid whitesmoke;
}
.calculator-grid button:hover {
    background-color: aliceblue;
}

.output-div {
    grid-column: 1/5;
    background-color: darkgrey;
    border: 1px solid whitesmoke;
}