* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*grid styling*/
.calculator-grid {
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: repeat(6, 50px);
    padding-left: 50px;
}

#equal-sign {
    
}

.output-div {
    grid-column: 1/5;
}